<footer>
    Icons by <a href="https://friconix.com/">friconix.com</a><br>
    Cover image by <a href="https://commons.wikimedia.org/w/index.php?title=User:HAC2940">HAC2940</a> and shared under
    the <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a> license.<br>
    © Breeze Airways Virtual 2023
    <noscript>If you do not have JavaScript enabled, icons (including navigation bar icons) will not show.</noscript>
</footer>