<footer>
    Icons by <a href="https://friconix.com/">friconix.com</a><br>
    © Breeze Airways Virtual 2023
    <noscript>If you do not have JavaScript enabled, icons (including navigation bar icons) will not show.</noscript>
</footer>