<footer>
    Icons by <a href="https://friconix.com/">friconix.com</a><br>
    Cover image by <a href="https://commons.wikimedia.org/w/index.php?title=User:HAC2940">HAC2940</a> and shared under
    the <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a> license.<br>
    Modified A220 image by <a href="https://commons.wikimedia.org/w/index.php?title=User:Alec_v175">Alec_v175</a> and
    shared under the <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA
        4.0</a> license.<br>
    Breeze Airways’ name, colors and corporate identity remains its exclusive property.<br>
    © Breeze Airways Virtual 2023. Source code released under the
    <a href="https://www.gnu.org/licenses/gpl-3.0.html">GPLv3</a> open-source license on our
    <a href="https://github.com/breeze-virtual/bzeav-homepage">GitHub</a>.<br>
    <noscript>If you do not have JavaScript enabled, icons (including navigation bar icons) will not show.</noscript>
</footer>