<link rel="stylesheet" href="/ss/navbar.css">
<div id="navbar">
    <img src="/img/breeze-check.svg" alt="Breeze check logo">
    <div class="nav-icon">
        <i class="fi-xtlux4-open-book-solid"></i>
        <span>About Us</span>
    </div>
    <div class="nav-icon">
        <i class="fi-xtlux4-newspaper-solid" onclick="window.location.href=('/news')"></i>
        <span>News</span>
    </div>
    <div class="nav-icon">
        <i class="fi-xtlux4-map-marker-solid" onclick="window.location.href=('/hubs-routes')"></i>
        <span>Hubs and Routes</span>
    </div>
    <div class="nav-icon">
        <i class="fi-xtlux4-dot-air-transportation" onclick="window.location.href=('/fleet')"></i>
        <span>Fleet</span>
    </div>
</div>
<script>friconix_update()</script>