@use 'vars' as vars;

#card {
  text-align: center;
}

#staff {
  display: flex;
  flex-direction: row;
  justify-content: left;

  .staff-member {
    width: 20rem;
    height: 22em;

    border-radius: 40px;

    margin: 2rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    text-align: center;

    .staff-image {
      height: 16em;
      width: 12em;

      border-radius: 40px;

      margin: auto;
      background-color: lightgray;
    }
  }
}