@use 'vars' as vars;

span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.promo-card {
  width: 75%;

  color: vars.$accent;
  background-color: vars.$primary;

  text-align: left;
  align-items: center;

  img {
    height: 17.625rem;
    border-radius: 40px;
    overflow: hidden;
  }
}

#card {
  padding: 1rem;
}

@media (max-width: 1599px) {
  .promo-card {
    width: 90%;
  }
}

@media (max-width: 1079px) {
  .promo-card {
    width: auto;
    background: none;
    color: inherit;
  }

  .promo-card-column {
    padding: 2rem 1rem;
  }

  #card {
    width: 100%;
    padding: 0;
  }
}