@use 'vars' as vars;

.promo-card {
  width: 50%;
  height: 20em;

  border-radius: 40px;

  margin: 2rem auto;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.promo-card-column {
  padding: 2rem;
}

#card-1 {
  color: vars.$accent;
  background-color: vars.$primary;

  text-align: left;

  img {
    height: 100%;
    border-radius: 40px;
    overflow: hidden;
  }
}

#card-2 {
  color: vars.$text;
  background-color: vars.$accent;

  text-align: right;
}

#card-3 {
  color: vars.$accent;
  background-color: vars.$primary;

  text-align: left;

  img {
    height: 17.625rem;
    border-radius: 40px;
    overflow: hidden;
  }
}