@use 'vars' as vars;

html, body {
  margin: 0;

  background-color: vars.$bg;

  font-family: Quicksand, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: xxx-large;

  color: vars.$text;
}

footer {
  bottom: 0;
  width: 96%;

  color: vars.$text;

  border-radius: 40px;

  margin: -100px auto 1rem auto;
  padding: 4rem 0 5rem 0;

  position: relative;
  text-align: center;
  clear: both;

  background-color: vars.$accent;
}

.promo-card {
  width: 50%;
  height: 20rem;

  border-radius: 40px;

  margin: 2rem auto;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.promo-card-column {
  padding: 2rem;
}

#articles {
  display: flex;
  flex-direction: row;
  justify-content: left;

  margin: 2rem;
  padding-left: 5rem;

  .article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

#article-content {
  margin: 4em;
  text-align: center;
}

#card {
  width: 70%;

  color: vars.$text;

  border-radius: 40px;

  position: absolute;
  top: 30%;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  padding: 2rem;

  background-color: vars.$accent;

  h2 {
    text-align: center;
  }
}

#home-logo {
  width: 32rem;

  position: absolute;
  top: 10%;
  left: calc((100% - 544px)/2);

  padding: 1rem;

  border-radius: 40px;

  background-color: vars.$translucent-colour;
  backdrop-filter: vars.$translucent-blur;
}

@media (max-width: 1599px) {
  .promo-card {
    width: 75%;
    height: 20em;

    border-radius: 40px;

    margin: 2rem auto;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .promo-card-column {
    padding: 2rem 0;
  }

  #card {
    width: 90%;

    top: 50%;
  }
}

@media (max-width: 1079px) {
  #breeze-logo {
    width: 25rem;
  }
}

