@use 'vars' as vars;

html, body {
  margin: 0;

  background-color: vars.$bg;

  font-family: Quicksand, sans-serif;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: xxx-large;

  color: vars.$text;
}

footer {
  bottom: 0;
  width: 96%;

  color: vars.$text;

  border-radius: 40px;

  margin: 1rem auto;
  padding: 4rem 0 5rem 0;

  text-align: center;

  background-color: vars.$accent;
}

#card {
  width: 70%;

  color: vars.$text;

  border-radius: 40px;

  position: absolute;
  top: 30%;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  background-color: vars.$accent;

  h2 {
    text-align: center;
  }
}

#content {
  text-align: center;
}

#home-logo {
  width: 32rem;

  position: absolute;
  top: 10%;
  left: calc((100% - 544px)/2);

  padding: 1rem;

  border-radius: 40px;

  background-color: vars.$translucent-colour;
  backdrop-filter: vars.$translucent-blur;
}

