<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Cian Ormond">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Breeze Virtual</title>
    <link rel="stylesheet" href="/ss/style.css">
    <script src="/js/friconix-icons.js"></script>
</head>
<body>
    <%-include('../partials/navbar')-%>
    <div id="content">
        <img src="img/cover.jpg" alt="Breeze Airways aircraft pushing back" width="100%">
        <img id="home-logo" src="img/breeze-logo.svg" alt="Breeze Airways Virtual logo">
    </div>
    <%-include('../partials/footer')-%>
</body>