<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Cian Ormond">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Breeze Virtual</title>
    <link rel="stylesheet" href="/ss/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quicksand">
    <script src="/js/friconix-icons.js"></script>
</head>
<body>
    <%-include('../partials/navbar')-%>
    <div id="cover">
        <img src="img/cover.jpg" alt="Breeze Airways aircraft pushing back" width="100%">
        <img id="home-logo" src="img/breeze-virtual-logo.svg" alt="Breeze Airways Virtual logo">
        <h1><em>Easy as a breeze, fast as the wind</em></h1>
    </div>
    <div class="info-card" id="card-1">
        <div class="info-card-column">
            <h2>Advanced Technology</h2>
            <p>The latest phpVMS system in combination with vmsACARS, providing an authentic experience for every
                simulator and simmer.</p>
        </div>
        <div class="info-card-column">
            <img src="img/phpvms-logo.svg" alt="phpVMS logo">
        </div>
    </div>
    <div class="info-card" id="card-2">
        <div class="info-card-column">
            <img src="img/breeze-logo.svg" alt="Breeze Airways Virtual logo">
            <p style="text-align: center;">Las Vegas, NV - Green, OH | Norfolk, VA - Syracuse, NY<br>Santa Ana, CA
                - Columbus, OH</p>
        </div>
        <div class="info-card-column">
            <h2>Unique Routes</h2>
            <p>Routes are based on the real world Breeze Airways routes, which don't always follow the norm.</p>
        </div>
    </div>
    <div class="info-card" id="card-3">
        <div class="info-card-column">
            <h2>Interesting Fleet</h2>
            <p>Featuring the Airbus A220, a slightly uncommon, brand-new aircraft with an interesting history.</p>
        </div>
        <div class="info-card-column">
            <img src="img/a220.jpg" alt="Airbus A220 image">
        </div>
    </div>
    <br><br><br><br>
    <h1>Our virtual airline is set to launch soon! Join our <a href="https://discord.gg/rrF44NNn">Discord</a> to receive
            updates.</h1>
    <br><br><br><br>
    <%-include('../partials/footer')-%>
</body>